.default-panel
  padding 80px 0
  
  &__hr
    position relative
    width 700px
    margin auto
    
    &:before
      content ""
      
      display block
      width 100%
      
      border-bottom 1px solid
      border-color #ccc

    
    &:after
      content ""
      
      border-radius 50%
      width 12px
      height 12px
      background #ccc
      position absolute
      top 0
      left 0
      bottom 0
      right 0
      margin auto
      box-shadow 0 0 0px 10px #fff
    

.tools
  display table
  margin 32px auto 
  
  &__link
    display table-cell
    vertical-align middle
    height 32px
  
    padding-top 1px
    padding-left 12px
    padding-right 12px
    font-size 13px
    line-height 13px
    font-weight 500
    cursor pointer
    
    &.is-disable
      opacity 0.4
      cursor inherit
    
.block-list
  list-style none
  margin 0 24px
  padding 0
  
  display table
  
  li
    border-right 1px solid
    border-color #ccc
    
    transition background 0.15s ease
    
    &:last-child
      border-right 0
      
    &:hover
      background-color #e5e5e5
  
.block-border
  background-color #fff
  border 1px solid
  border-color #ccc
  border-radius 3px
  
  
.all-blocks
  background #000
  color #fff
  border-color transparent