.component
  position relative
  
    
  .top-settings-panel
    position absolute
    top -1px
    left 0
    right 0
    
    padding 24px 24px 0
    
    border-top 1px dashed #ccc
    z-index 2
    
    display block
    opacity 0
    transition opacity 0.15s ease
    
  .bottom-settings-panel
    position absolute
    bottom 0
    left 0
    right 0
    
    border-bottom 1px dashed #ccc
    
    display block
    opacity 0
    transition opacity 0.15s ease
    
  &:hover
    z-index 3
    
    .top-settings-panel
    .bottom-settings-panel
      opacity 1
      
      
  &-settings
    &--left
      float left
      
    
    &--right
      float right
      
      
.btn-orange
  background #fa876b
  border-color #fa876b
  
.is-margin
  margin-right 12px
  
.add-btn
  display table
  margin auto
  
  position relative
  top 14px
  
  &__inner
    background #000
    color #fff
    width 27px
    height 27px
    border-radius 50%
    text-align center
    display table-cell
    vertical-align middle
    z-index 9
    position relative
    
    cursor pointer
    
    i.fas
      font-size 10px
      display block