:host
  text-align center
  
.component-content
  position relative
  
  width 100%
  box-sizing border-box
 
    
.content
  width 780px
  margin 0 auto
  
  position relative
  z-index 2
  
.company  
  text-transform uppercase
    
  font-size 14px
  line-height 1.43
  letter-spacing 2.5px
  
.title
  padding 24px 0px 40px 0px
  letter-spacing 0.5px
  margin 0
    
  font-size 56px
  line-height 1.17
  
  
.subtitle  
  font-size 20px
  line-height 1.50
  
  margin 0