.settings
  .container
    max-width 1160px
    margin 0 auto
    padding-bottom 64px
    
  &-header
    padding 40px 0 32px
    
    display table
    width 100%
    
    &__breadcrumbs
      display table-cell
      vertical-align middle
    
    &__btns
      display table-cell
      text-align right
      min-width 370px
    
  &-content
    background #fff
    display table
    width 100%
    box-sizing border-box
    
    ul
      padding 0
      margin 0
      list-style none
    
    &__sidebar
      display table-cell
      width 210px
      border-right 1px solid #ccc
      
      padding-bottom 40px
      vertical-align top
      
    &__forms
      display table-cell
      padding 0
      vertical-align top
      
      
      
  &-menu
    &__item
      padding 18px 30px 17px
      cursor pointer
      
      transition color 0.15s ease, background 0.15s ease
      
      
      &:hover
        background rgba(0,0,0,.03)
        color #fa876b
        
      &.is-active
      
        background #fa876b
        color #fff
        
      
        

.breadcrumbs
  margin 0
  padding 0
  list-style none
  
  &__item
    display inline-block
    
    font-size 26px
    line-height 32px
    height 32px
    
    color rgba(0,0,0,.5)
    vertical-align top
    
    &.is-link
      cursor pointer
      outline none
      
      &:hover
        color rgba(0,0,0,.8)
        
      span
        max-width 150px
        white-space nowrap
        overflow hidden
        text-overflow ellipsis
        display inline-block
    
  &__arrow
    margin 0 24px  
    
    img
      vertical-align middle 
        
        
.form-content
  max-width 600px
  padding 0 15px
  margin 60px auto
  
  
.form-list
  &__item
    display none
    
    &.is-view
      display block
  
  
.form-box
  margin-bottom 46px
  
  
.btn
  display inline-block
  position relative
  padding 13px 29px 15px
  margin 0
  
  background #fff
  border-radius 100px
  font-size 14px
  color #000
  cursor pointer
  text-decoration none
  
  transition background 0.15s ease
  
  &:hover
    background-color #fafafa
    
  &--orange
    position relative
    display inline-block
    vertical-align top
    
    background #fa8669

    color #fff
    
    margin-left 12px
    
    width 214px
    box-sizing border-box
    text-align center
    
    
    &:hover
      background-color #f19983
    

.flush-box
  border 1px dashed
  padding 80px 0
  position relative
    
  span
    left 0
    right 0
    
    width 510px
    text-align center
    
    display block
    font-size 32px
    
    margin 24px auto
  
  
  
  
  