<header>
  <div class="waves">
    <img src="/assets/images/t-menu__waves.png">
  </div>
  
  <div class="logo">
    <a href="/" class="logo__link">
      <img src="/assets/images/t-menu__logo-white.png">
    </a>
  </div>
  
  <nav class="menu menu--left">
    <a routerLink="/projects" routerLinkActive="active">Мои сайты</a>
    <a routerLink="/plan" routerLinkActive="active">Тарифы и оплата</a>
    <a class="is-disable">Профиль</a>
  </nav>
  
  <nav class="menu menu--right">
    <a href="http://help-ru.tilda.ws/" target="_blank">Справочный центр</a>
    <a class="is-disable">Уроки и статьи</a>
    <a class="is-disable">Выйти</a>
  </nav>
</header>