<div class="component">
  <div class="component__bg" (click)="onCancel()"></div>
  
  <div class="component__inner">
    <ul class="list">
      <li class="list-item" (click)="addNewItem('s1')">
        <img class="list-item__image" src="https://assets.tildacdn.com/files/tplsthumbs_new/tpl_018n.png">
        
        <div class="list-item__content">
          <span class="list-item__code">CR01</span>
          <span class="list-item__title">Обложка: заголовок, подзаголовок и раздел</span>
          фон: изображение
        </div>
      </li>
      <li class="list-item" (click)="addNewItem('s2')">
        <img class="list-item__image" src="https://assets.tildacdn.com/files/tplsthumbs_new/tpl_33.png">
        
        <div class="list-item__content">
          <span class="list-item__code">TL03</span>
          <span class="list-item__title">Заголовок</span>
          опционально: раздел и описание
        </div>
      </li>
      <li class="list-item" (click)="addNewItem('s3')">
        <img class="list-item__image" src="https://assets.tildacdn.com/files/tplsthumbs_new/tpl_127.png">
        
        <div class="list-item__content">
          <span class="list-item__code">TX02</span>
          <span class="list-item__title">Лид</span>
          
        </div>
      </li>
      <li class="list-item" (click)="addNewItem('s4')">
        <img class="list-item__image" src="https://assets.tildacdn.com/files/tplsthumbs_new/tpl_106.png">
        
        <div class="list-item__content">
          <span class="list-item__code">TX01</span>
          <span class="list-item__title">Текст</span>
          
        </div>
      </li>
      <li class="list-item" (click)="addNewItem('s5')">
        <img class="list-item__image" src="https://assets.tildacdn.com/files/tplsthumbs_new/tpl_36.png">
        
        <div class="list-item__content">
          <span class="list-item__code">IP201</span>
          <span class="list-item__title">Крупный текст с тонкими разделителями</span>
          
        </div>
      </li>
      <li class="list-item" (click)="addNewItem('s6')">
        <img class="list-item__image" src="https://assets.tildacdn.com/files/tplsthumbs_new/tpl_3.png">
        
        <div class="list-item__content">
          <span class="list-item__code">IM01</span>
          <span class="list-item__title">Изображение</span>
          
        </div>
      </li>
      
      <li class="list-item" (click)="addNewItem('s7')">
        <img class="list-item__image" src="https://assets.tildacdn.com/files/tplsthumbs_new/dividers-01.png">
        
        <div class="list-item__content">
          <span class="list-item__code">DV01A</span>
          <span class="list-item__title">Короткая линия</span>
          
        </div>
      </li>
      
    </ul>
  </div>
</div>