
  <div class="editor">
    <div class="editor-block">
      
      <div class="editor-field">
        <label>Подзаголовок</label>
        <input [(ngModel)]="data.subtitle">
      </div>
      
      <div class="editor-field">
        <label>Заголовок</label>
        <input type="text" [(ngModel)]="data.title">
      </div>
      
      <div class="editor-field">
        <label>Описание</label>
        <textarea [(ngModel)]="data.description"></textarea>
      </div>
    </div>
    
    
  </div>
